<!DOCTYPE html>
<html>
<head>
    <title>Моя страница</title>
    <style>
        p {
            font-family:'Times New Roman', Times, serif;
            font-size:20px;
        }
        .description {
            color:brown;
        }
        .img {
            height: 200px;
            width: 400px;
            background:aquamarine
        }
        img {
            height: 50%;
            width: 50%;
        }
        .container {
            display: block;
            
            flex-direction: line;
            align-items: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Добро пожаловать на нашу страницу!</h1>
        </div>
        <div>
            <div class="description">
            <p>Я учащийся СамГТУ, меня зовут Лобанова Юлия Ивановна</p>
            <p>Я учусь на 1 курсе</p>
            <p style="color:black; font-size:35px">на кафедре автоматизация и управления технологическими процессами</p>
            </div>
        </div>
        <div class="img">
            <img src="https://s.rbk.ru/v1_companies_s3/media/trademarks/ab582cb8-ee49-4652-b47d-5ec5f270bcb9.jpg"/>
        </div>
        <div class="actions">
            <button onClick="location.href='https://lk.samgtu.ru'">Лк СамГТУ</button>
            <a href="https://lms.samgtu.ru">Мудл СамГТУ</a>
        </div>
    </div>
    

</body>


</html>